# =========================
# Model Directories (Generated)
# =========================
models-2/
new_models/*.pkl

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc

# =========================
# Virtual Environment
# =========================
env/

new_dataset.csv

# =========================
# Tested / Output Data
# =========================
tested_data/

# =========================
# Logs
# =========================
*.log